---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Paper review"
	description="Review of relevant read papers"
	pubDate={new Date('November 14 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>
heyyyyyyyyyyyyyyyyyyyyy
	</p>
</Layout>
